# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
*.env
.env.*

# Logs
*.log

# FastAPI static and temp files
staticfiles/
media/
tmp/

# Exclude data directory
data/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# MyPy, coverage, test reports
.mypy_cache/
coverage/
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Installer files
*.egg-info/
dist/
build/
.eggs/

# Logs
backend.log
frontend.log
