services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: askdocs_db
      POSTGRES_USER: askdocs
      POSTGRES_PASSWORD: askdocs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - askdocs-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@askdocs.com
      PGADMIN_DEFAULT_PASSWORD: Password@123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - askdocs-network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - askdocs-network

volumes:
  postgres_data:
  pgadmin_data:
  qdrant_data:

networks:
  askdocs-network:
    name: askdocs-network